body {
  font-family: "roboto", "raleway", sans-serif;
  font-size: 14px;
}

.webstudio {
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 900;
  line-height: 1.3;
  color: #2196f3;
}

.link {
  font-size: 14px;
  cursor: pointer;
}

.link li {
  list-style: none;
}

.link li a {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
}

.link li a:hover {
  color: #2196f3;
}

.link li a:focus {
  color: #2196f3;
}

.datos-contacto {
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.1;
}

.datos-contacto li {
  list-style: none;
}

.datos-contacto li a {
  text-decoration: none;
  color: #757575;
}

.datos-contacto li a:hover {
  color: #2196f3;
}

.datos-contacto li a:focus {
  color: #2196f3;
}

/* body */

.titulo {
  background-color: #2f303a;
  width: 1290px;
}

.titulo h1 {
  color: #fff;
  font-size: 44px;
  text-align: center;
}

.button-servicios {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  line-height: 1.8;
}

.button-servicios:hover{
  background-color: #0e77cc;
  border-color: #0e77cc;
}

.button-servicios:focus{
  background-color: #0e77cc;
  border-color: #0e77cc;
}

.datos-servicios li {
  list-style: none;
}

.datos-servicios h3 {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  line-height: 1.1;
}

.datos-servicios p {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  line-height: 1.7;
}

.servicios h2 {
  font-size: 32px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  line-height: 1.1;
}

.servicios li {
  list-style: none;
}

.equipo {
  background-color: #f5f4fa;
}

.equipo h2 {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  line-height: 1.1;
  font-weight: 700;
}

.andres {
  background-color: #fff;
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.andres img {
  width: 270px;
  height: 260px;
}

.andres h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.andres p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: #757575;
}
.carla {
  background-color: #fff;
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.carla img {
  width: 270px;
  height: 260px;
}

.carla h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.carla p {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 1.1;
  color: #757575;
}

.mario {
  background-color: #fff;
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.mario img {
  width: 270px;
  height: 260px;
}

.mario h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.mario p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: #757575;
}

.pablo {
  background-color: #fff;
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.pablo img {
  width: 270px;
  height: 260px;
}

.pablo h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.pablo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: #757575;
}

/* Footer */

footer {
  background-color: #2f303a;
}

.f-datos a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.f-datos li {
  list-style: none;
}

.f-datos li a:hover{
  color: #2196f3;
}

.f-datos li a:focus{
  color: #2196f3;
}

.f-correo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}

.f-direccion {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}

.f-direccion p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  color: #fff;
}

.f-telefono{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.1;
color: rgba(255, 255, 255, 0.6);
}

/* PORTAFOLIO */

.nav-interna li{
  list-style: none;
}

.nav-interna li button{
  cursor: pointer;
}

.btt1 {
  width: 73px;
  height: 38px;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: #2196f3;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}

.btt2 {
  width: 128px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.btt2:hover {
  background-color: #2196f3;
  color: #fff;
}

.btt2:focus {
  background-color: #2196f3;
  color: #fff;
}
.btt3 {
  width: 145px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.btt3:hover {
  background-color: #2196f3;
  color: #fff;
}

.btt3:focus {
  background-color: #2196f3;
  color: #fff;
}

.btt4 {
  width: 103px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.btt4:hover {
  background-color: #2196f3;
  color: #fff;
}

.btt4:focus {
  background-color: #2196f3;
  color: #fff;
}

.btt5 {
  width: 130px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.btt5:hover {
  background-color: #2196f3;
  color: #fff;
}

.btt5:focus {
  background-color: #2196f3;
  color: #fff;
}

.paginas li{
  list-style: none;
}

.paginas li a{
  text-decoration: none;
}

.conte {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-left: 30px;
}

.conte:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.conte img {
  width: 370px;
  height: 294px;
}

.conte h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
}

.conte p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #757575;
}
